<!-- so now we dont need to put boiler plate in this one
 
because the html-head has the info-->

<nav>
    <a href="/">Home</a>
    <a href="/menu">Full Menu</a>
    <!-- <a href="/yup">yup</a> -->
    <a href="/menu/mains">Mains</a>
    <a href="/menu/desserts">Desserts</a>
    <a href="/menu/sides">Sides</a>
</nav>